table {
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #cccccc;
    padding: 0.5rem 0.25rem;
}

td {
    font-weight: 300;
}


tfoot tr:first-child td {
    border-top: 2px solid #000000;
}

tfoot td {
    font-weight: 500;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

tr {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out;
    animation-delay: calc(var(--index) * 25ms);
    animation-fill-mode: forwards;
}